logs
#project/project #for openshift deployment, NOT commented
#project/target  #for openshift deployment, NOT commented
#target		 #for openshift deployment, NOT commented
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
